<div align = center>
	<%= link_to 'Homepage', root_path %>
	<%= link_to 'About', about_path %>
</div>

<h1 align = center>About Alpha Blog</h1>

<div align = center>
	<%= image_tag("alpha.jpg") %>
</div>
